force-app/main/default/flows/CEPIntegration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CEPIntegration</name>
        <label>Consulta CEP</label>
        <locationX>192</locationX>
        <locationY>234</locationY>
        <actionName>ConsultaCEP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ReturnSuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>CEPInputField</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>bairroVariable</assignToReference>
            <name>bairro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CEPVariable</assignToReference>
            <name>cep</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>complementoVariable</assignToReference>
            <name>complemento</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dddVariable</assignToReference>
            <name>ddd</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorVariable</assignToReference>
            <name>erro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>giaVariable</assignToReference>
            <name>gia</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ibgeVariable</assignToReference>
            <name>ibge</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>localidadeVariable</assignToReference>
            <name>localidade</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>logradouroVariable</assignToReference>
            <name>logradouro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>siafiVariable</assignToReference>
            <name>siafi</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ufVariable</assignToReference>
            <name>uf</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>ReturnSuccess</name>
        <label>Sucesso no Retorno</label>
        <locationX>457</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddressFields</targetReference>
            </connector>
            <label>Sucesso</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalScreenError</targetReference>
            </connector>
            <label>Erro</label>
        </rules>
    </decisions>
    <interviewLabel>Consulta CEP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consulta CEP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateAddressFields</name>
        <label>Atualiza Campos de Endereço</label>
        <locationX>594</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>FinalScreenSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>localidadeVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>CEPInputField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>ufVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>logradouroVariable</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>CEPInputScreen</name>
        <label>CEP Input</label>
        <locationX>65</locationX>
        <locationY>233</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CEPIntegration</targetReference>
        </connector>
        <fields>
            <name>CEPInputField</name>
            <dataType>String</dataType>
            <fieldText>Digite o CEP</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Digite o CEP somente com números, sem espaços ou traços.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;CEP Inválido&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!CEPInputField}, &quot;^\\d{8}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreenError</name>
        <label>Tela Final Erro</label>
        <locationX>348</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;CEP não localizado.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Verifique  o CEP digitado ou contate o administrador do sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreenSuccess</name>
        <label>Tela Final Sucesso</label>
        <locationX>829</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccesMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Endereço atualizado com sucesso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CEPInputScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bairroVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CEPVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>complementoVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dddVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giaVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ibgeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>localidadeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>logradouroVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Armazena o Id do registro que acionou o flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siafiVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ufVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
